{% load staticfiles %}
{#Esto se usa para cargar los archivos estaticos en la nueva versión de Django#}
{#"{% static "css/bootstrap.css" %}" De esta manera se cargan la dirección de la carpeta static#}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Control de llamadas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Admin Panel Template">
    <meta name="author" content="Westilian: Kamrujaman Shohel">
    <!-- styles -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet">
    <link rel="stylesheet" href={% static "css/font-awesome.css" %}>
    <!--[if IE 7]>
            <link rel="stylesheet" href="css/font-awesome-ie7.min.css">
        <![endif]-->
    <link href="{% static "css/styles.css" %} " rel="stylesheet">
    <!--[if IE 7]>
            <link rel="stylesheet" type="text/css" href="css/ie/ie7.css" />
        <![endif]-->
    <!--[if IE 8]>
            <link rel="stylesheet" type="text/css" href="css/ie/ie8.css" />
        <![endif]-->
    <!--[if IE 9]>
            <link rel="stylesheet" type="text/css" href="css/ie/ie9.css" />
        <![endif]-->
    <link href="{% static "css/aristo-ui.css" %} " rel="stylesheet">
    <link href="{% static "css/elfinder.css" %} " rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
    <!--fav and touch icons -->
    <link rel="shortcut icon" href="{% static "ico/favicon.ico"%}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href={% static "ico/apple-touch-icon-144-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href={% static "ico/apple-touch-icon-114-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    <!--============j avascript===========-->
    <script src={% static "js/jquery.js" %}></script>
    <script src={% static "js/jquery-ui-1.10.1.custom.min.js" %}></script>
    <script src={% static "js/bootstrap.js" %}></script>
</head>
<body>
<div class="layout">
    <!-- Navbar================================================== -->
    <div class="navbar navbar-inverse top-nav">
        <div class="navbar-inner">
            <div class="container">
                <span class="home-link"><a href="index.html" class="icon-home"></a></span><a class="brand"
                                                                                             href="./index.html"><img
                    src="{% static "images/logo-falgun.png" %}" width="103" height="50" alt="Falgun"></a>
                <div class="btn-toolbar pull-right notification-nav">
                    <div class="btn-group">
                        <div class="dropdown">
                            <a class="btn btn-notification"><i class="icon-reply"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <form class="form-signin">
            <h3 class="form-signin-heading">Por favor, inicia sesión</h3>
            <div class="controls input-icon">
                <i class=" icon-user-md"></i>
                <input type="text" class="input-block-level" placeholder="Dirección de correo">
            </div>
            <div class="controls input-icon">
                <i class=" icon-key"></i><input type="password" class="input-block-level" placeholder="Contraseña">
            </div>
            <button class="btn btn-inverse btn-block" type="submit">Inicia sesión</button>
            <h5 align="center">¿No tienes cuenta?</h5>
            <button class="btn btn-success btn-block" type="submit">Crear cuenta</button>
        </form>
    </div>
</div>
</body>
</html>