<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>

Consulta especifica
</title>

{% include "base_administrador.html" %}


{% block admin %}


<div class="layout"> <!-- inicio de toda la pagina desde del body-->
  <!-- Navbar
    ================================================== -->
 {% if user.is_staff or request.session.tipous == 1 %}
  {% include 'headeradmin.html' %}
  {% include 'menuizquierdoadmin.html' %}
{% endif %}

 {% if request.session.tipous == 2 %}
  {% include 'headergerente.html' %}
  {% include 'menuizquierdogerente.html' %}
{% endif %}

{% if request.session.tipous == 3 %}
  {% include 'headerasesor.html' %}
  {% include 'menuizquierdoasesor.html' %}
{% endif %}

{% if request.session.tipous == 10 %}
  {% include 'headerrecepcion.html' %}
  {% include 'menuizquierdorecepcion.html' %}
{% endif %}

  <div class="main-wrapper">
    <div class="container-fluid">

{% if messages %}
  {% for message in messages %}
      <div {% if message.tags %} class="alert alert-{{ message.tags }}"  {% endif %}   >
        <button type="button" class="close" data-dismiss="alert">&times;</button>

        <i class="icon-exclamation-sign"></i>
        {{ message }}   
      </div>
  {% endfor %}    
{% endif %}
                                  




<!-- Aqui van los roidfluid -->
{% if user.is_staff or request.session.tipous == 1%}
 <div class="row-fluid ">
        <div class="span12">
          <div class="primary-head">
            <h3 class="page-header">Datos Especificos del Cliente </h3>
          </div>
          <ul class="breadcrumb">
            <li>
              <a href="/administrador/" class="icon-home"></a>
              <span class="divider ">
                <i class="icon-angle-right"></i>
              </span>
            </li>
            <li>
              <a href="/consulta_cliente/">Clientes </a>
              <span class="divider">
                <i class="icon-angle-right">
                </i>
              </span>
            </li>
            <li class="active">{{usuario.first_name}} {{usuario.last_name}} {{clien.apmat}} </li>
          </ul>
        </div>
      </div> 
{% endif %}
{% if request.session.tipous == 2 %}
  <div class="row-fluid ">
        <div class="span12">
          <div class="primary-head">
            <h3 class="page-header">Datos Especificos del Cliente </h3>
          </div>
          <ul class="breadcrumb">
            <li>
              <a href="/p-gerente/" class="icon-home"></a>
              <span class="divider ">
                <i class="icon-angle-right"></i>
              </span>
            </li>
            <li>
              <a href="/consulta-cliente/">Clientes </a>
              <span class="divider">
                <i class="icon-angle-right">
                </i>
              </span>
            </li>
            <li class="active">{{usuario.first_name}} {{usuario.last_name}} {{clien.apmat}}</li>
          </ul>
        </div>
      </div>
{% endif %}

{% if request.session.tipous == 3 %}
  <div class="row-fluid ">
        <div class="span12">
          <div class="primary-head">
            <h3 class="page-header">Datos Especificos del Cliente </h3>
          </div>
          <ul class="breadcrumb">
            <li>
              <a href="/p-asesor/" class="icon-home"></a>
              <span class="divider ">
                <i class="icon-angle-right"></i>
              </span>
            </li>
            <li>
              <a href="/mis-clientes/">Mis Clientes </a>
              <span class="divider">
                <i class="icon-angle-right">
                </i>
              </span>
            </li>
            <li class="active">{{usuario.first_name}} {{usuario.last_name}} {{clien.apmat}} </li>
          </ul>
        </div>
      </div>
{% endif %}

{% if request.session.tipous == 10 %}
  <div class="row-fluid ">
        <div class="span12">
          <div class="primary-head">
            <h3 class="page-header">Datos Especificos del Cliente </h3>
          </div>
          <ul class="breadcrumb">
            <li>
              <a href="/p-recepcion/" class="icon-home"></a>
              <span class="divider ">
                <i class="icon-angle-right"></i>
              </span>
            </li>
            <li class="active">{{usuario.first_name}} {{usuario.last_name}} {{clien.apmat}} </li>
          </ul>
        </div>
      </div>
{% endif %}



      <div class="row-fluid">
        <div class="span12">
          <div class="content-widgets light-gray">
            <div class="widget-head blue clearfix">
              <h3>Datos del cliente</h3>
            </div>
            <div class="widget-container">
              <h3>Datos Personales </h3>
              <table class="stat-table table responsive paper-table table-stats table-striped table-sortable table-bordered">
              <tbody>

              <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th> Sexo</th>
                <th> Fecha de Nacimiento</th>
                <th colspan="2"> Escuela</th>
                <th> Nacionalidad</th>
                
              </tr>

              <tr>
                <td>
                  {{usuario.first_name}}
                </td>
                <td>
                  {{usuario.last_name}} {{clien.apmat}}
                </td>
                <td>
                  {{usuario.email}}
                </td>

          {% if clien.sexo == 'Masculino' %}
                     
                      <td> 
                      {% if request.session.tipous == 3 %}
                        <a href="/editar-sexo-cliente/{{usuario.id}}" title="Editar Sexo del cliente" 
                        onClick=" return confirm('Realmente desea cambiar el sexo a este cliente?')">Masculino</a> </td>
                      {% else %}
                        Masculino
                      {% endif %}
          {% else %}
                      
                     <td> 
                      {% if request.session.tipous == 3 %}
                        <a href="/editar-sexo-cliente/{{usuario.id}}" title="Editar Sexo del cliente" 
                        onClick="return confirm('Realmente desea cambiar el sexo a este cliente?')">Femenino </a> </td>
                      {% else %}
                        Femenino
                      {% endif %}
          {% endif %}
                <td>
                  {{clien.fecha_nacimiento}}
                </td>
                
                <td colspan="2">
                  {{clien.escuela}}
                </td>
                <td>
                  {{clien.nacionalidad}}
                </td>
              </tr>

              <tr>
                <th> Código Postal</th>
                <th> Celular</th>
                <th> Teléfono</th>
                <th> Talla</th>
                <th> Personalidad</th>
                <th> Sabe Nadar</th>
                <th> Viaja Con</th>
                <th> Tipo de Sangre</th>
              </tr>

              <tr>
                <td>
                  {{clien.codigo_postal}}
                </td>
                <td>
                  {{clien.celular}}
                </td>
                <td>
                  {{clien.telefono}}
                </td>
                <td> 
                  {{clien.talla}}
                </td>
                <td>
                  {{clien.personalidad}}
                </td>
                <td>
                  {{clien.sabe_nadar}}
                </td>
                <td>
                  {{clien.viaja_con}}
                </td>
                <td>
                  {{clien.tipo_sangre}}
                </td>

              </tr>

              <tr>
                <th> País</th>
                <th> Estado</th>
                <th> Ciudad</th>
                <th> Dirección</th>
                <th colspan="4"> Nota</th>
              </tr>

              <tr>
                <td>
                  {{clien.pais}}
                </td>
                <td>
                  {{clien.estado}}
                </td>
                <td>
                  {{clien.localidad}}
                </td>
                <td> 
                  {{clien.direccion}}
                </td>
                <td colspan="4">
                  {% if clien.nota %}
                  {{clien.nota}}
                  {% endif %}

                </td>
                

              </tr>

              </tbody>
              </table>


              <h3>Datos del Viaje </h3>
              <table class="stat-table table responsive table-stats table-striped table-sortable table-bordered">
              <tbody>

              <tr>
                <th>Programa</th>
                <th>Clave del precio</th>
                <th>Precio</th>
                <th>Fecha de Salida</th>
                 <th>Reserva</th>
                <th>Asesor</th>
                <th>Status</th>
                
                
              </tr>

              <tr>
                <td>
                  {{pr.precio}}
                  
                </td>
                <td>
                  {{pr.claveprecio}}
                </td>
                <td>
                 {% if pr.tipo_cambio_id == 1 %}
                          $
                      {% endif %}
                      {% if pr.tipo_cambio_id == 2 %}
                          €
                      {% endif %} {{pr.precio_promo}}
                </td>
                <td>
                  {{clien.precio.precio.vigencia}}
                </td>
                <td>
                  {% if clien.iris %}
                  {{clien.iris}}
                  {% endif %}
                  
                </td>
                <td>
                    {% if clien.asesor == null %}
                    No Asignado
                    {% else %}
                   {{ clien.asesor.user.first_name }} {{ clien.asesor.user.last_name }}
                    {% endif%}
                </td>
                <td>
                      {%  if clien.status_prog == 0  %}
                      <span class="label">Prospecto</span>
                      {% endif %}

                      {% if clien.status_prog == 1 and clien.garantizado == False %}
                        <span class="label label-success"> Inscrito</span>
                      {% endif %}

                    {% if clien.status_prog == 1 and clien.garantizado == True %}
                        <span class="label label-success"> Garantizado</span>
                      {% endif %}

                      {%  if clien.status_prog == 2  %}
                      <span class="label label-info">Lista de espera</span>
                      {% endif %}
<!-- otros estatus-->
                      {%  if clien.status_prog == 3  %}
                      <span class="label label-warning">No contesta</span>
                      {% endif %}

                      {%  if clien.status_prog == 4  %}
                      <span class="label label-important">No va</span>
                      {% endif %}

                      {%  if clien.status_prog == 5  %}
                      <span class="label label-important">Cancelado</span>
                      {% endif %}
                      {%  if clien.status_prog == 6  %}
                      <span class="label label-success">Efectivo</span>
                      {% endif %}
<!-- otros estatus-->                      
                </td>
                
              </tr>


              <tr>
                <th colspan="5">Room</th>
                <th>Chaperon</th>
                <th>Color</th>

              </tr>

              <tr>
                <td  colspan="5">
                  {% for c in cl %}
                 {{ forloop.counter }}.- {{c.nombre}} {{c.ap}} '{{c.c}}' &nbsp;&nbsp;&nbsp;&nbsp; 
                 {% endfor %}
                  
                </td>
                <td>
                  {% if chayc.chapeyear.chaperonext %}
                    {{chayc.chapeyear.chaperonext.nombre}}
                    {{chayc.chapeyear.chaperonext.apellidos}}
                  {% endif %}

                  {% if chayc.chapeyear.chaperonper %}
                    {{chayc.chapeyear.chaperonper.user.first_name}}
                    {{chayc.chapeyear.chaperonper.user.last_name}}
                  {% endif %}
                </td>
                <td>
                 {{chayc.chapeyear.color}}
                </td>
                
                
              </tr>



     
              </tbody>
              </table>


              <h3>Historial Médico </h3>
              <table class="stat-table table responsive table-stats table-striped table-sortable table-bordered">
              <tbody>

              <tr>
                <th> Condición Crónica (diabetes, asma, epilepsia, etc)</th>
                <th> Discapacidad Física o Motriz</th>
                <th> Desorden Psicológico o Nervioso</th>
                <th> Restricción alimenticia por razones médicas o personales</th>
                <th> ¿Sufre algún padecimiento o alergias?</th>     
              </tr>

              <tr>
                <td>
                  {{clien.condicion_cronica}}
                </td>
                <td>
                  {{clien.discapacidad_fm}}
                </td>
                <td>
                  {{clien.desorden_psn}}
                </td>
                 <td> 
                  {{clien.restriccion_aliment}} 
                </td>
                <td>
                  {{clien.padecimiento_aler}}
                </td>
              </tr>

              <tr>
                <th> Restricción en actividades deportivas</th>
                <th> ¿Estará tomando algún medicamento durante el viaje?</th>
                <th> Cirugía o Accidentes</th>
                <th colspan="2">  Si marco SI, en una o más de las opciones, proveer mas información. Incluir Instrucciones de cuidado medico </th>
                
              </tr>

              <tr>
                <td>
                  {{clien.restriccion_acde}}
                </td>
                <td>
                  {{clien.medicamento_dv}}
                </td>
                <td>
                  {{clien.cirugia_accidente}}
                </td>
                <td colspan="2"> 
                  {{clien.descripcion}}
                </td>
               


              </tr>
              </tbody>
              </table>
{% if ObjModelTutorCount == 0 %}
<!-- Modulo para padres del modelo anterio registros anteriores -->
            <h3>Datos del Tutor</h3>
              <table class="stat-table table responsive table-stats table-striped table-sortable table-bordered">
              <tbody>

              <tr>
                <th>Nombre del Padre</th>
                <th>Apellidos del padre</th>
                <th>Teléfono del padre</th>
                <th> Email del padre</th> 
              </tr>

              <tr>
                <td>
                  {{pa.nombre_papa}}
                </td>
                <td>
                 {{pa.apellidos_p}}
                </td>
                <td>
                  {{pa.telefono_p}}
                </td>
                <td>
                  {{pa.email_p}}
                </td>
                
              </tr>

              <tr>
                <th>Nombre de la Madre</th>
                <th>Apellidos de la Madre</th>
                <th>Teléfono de la Madre</th>
                <th>Email de la Madre</th> 
                
              </tr>

              <tr>
                <td>
                  {{pa.nombre_mama}}
                </td>
                <td>
                 {{pa.apellidos_m}}
                </td>
                <td>
                  {{pa.telefono_m}}
                </td>
                <td> 
                  {{pa.email_m}}
                </td>

              </tr>
              <tr>
                <th>Otros Teléfonos</th>   
                <th colspan="3">Dirección</th>   
              </tr>

              <tr>
                <td >
                  {{pa.otro_tel}}
                </td>
                <td colspan="3">
                  {{pa.direccionp}}
                </td>
              </tr>
              </tbody>
              </table>
<!-- Modulo para padres del modelo anterio registros anteriores -->
{% endif %}

{% if ObjModelTutorCount != 0 %}
<!-- Modulo para padres del modelo anterio registros anteriores -->
            <h3>Datos del Tutor</h3>
              <table class="stat-table table responsive table-stats table-striped table-sortable table-bordered">
              <tbody>

              {% for t in ObjModelTutorQuery %} 

              <tr>
                <th>Nombre  
                {%if t.tipo_tutor.id == 1%} del {{t.tipo_tutor}} {% endif %} 
                {%if t.tipo_tutor.id == 2%} de la {{t.tipo_tutor}} {% endif %}
                {%if t.tipo_tutor.id == 3%} de {{t.tipo_tutor}} {% endif %} 
                </th>
                <th>Apellidos 
                {%if t.tipo_tutor.id == 1%} del {{t.tipo_tutor}} {% endif %} 
                {%if t.tipo_tutor.id == 2%} de la {{t.tipo_tutor}} {% endif %}
                {%if t.tipo_tutor.id == 3%} de {{t.tipo_tutor}} {% endif %}   
                </th>
                <th>Teléfono
                {%if t.tipo_tutor.id == 1%} del {{t.tipo_tutor}} {% endif %} 
                {%if t.tipo_tutor.id == 2%} de la {{t.tipo_tutor}} {% endif %}
                {%if t.tipo_tutor.id == 3%} de {{t.tipo_tutor}} {% endif %}
                </th>
                <th> Email
                {%if t.tipo_tutor.id == 1%} del {{t.tipo_tutor}} {% endif %} 
                {%if t.tipo_tutor.id == 2%} de la {{t.tipo_tutor}} {% endif %}
                {%if t.tipo_tutor.id == 3%} de {{t.tipo_tutor}} {% endif %}
                </th> 
              </tr>

              <tr>
                <td>
                  {{t.user.first_name}}
                </td>
                <td>
                 {{t.user.last_name}}
                </td>
                <td>
                 {{t.telefono}}
                </td>
                <td>
                  {{t.user.email}}
                </td>
                
              </tr>
              {% endfor %}





              </tbody>
              </table>
<!-- Modulo para padres del modelo anterio registros anteriores -->
{% endif %}
              <h3>Generales</h3>

              <table class="stat-table table responsive table-stats table-striped table-sortable table-bordered">
              <tbody>

              <tr>
                <th>Factura</th>
                <th>Datos fiscales</th>
                <th>Seguro Cancelación</th>
                <th>Voucher </th>
              </tr>

                <tr>
                <td>
                  {{clien.solifactura}}
                </td>
                <td>
                 {{clien.datosfiscales}}
                </td>
                <td>
                  {{clien.segucancelacion}}
                </td>
                <td>
                  {{clien.voucher}}
                </td>
                
                
              </tr>

              <tr>
               <th colspan="2"  >¿Como se enteró de nuestros programas?</th>
                <th>Fiesta</th>
                <th>Seguro de viaje/Upgrade</th>
              </tr> 
              
              <tr>            
              <td colspan="2" >
                  {{clien.fuente}}
                </td>
                <td  >
                 {{clien.fiesta}}
                </td>
                <td>
                  {{clien.segumedico}}
                </td>
              
              </tr>
              
              </tbody>
              </table>


              
              <h3>Datos de la Agencia </h3>
              <table class="stat-table table table-stats table-striped table-sortable table-bordered">
              <tbody>

              <tr>
                <th>Agencia  </th>
                <th>Asesor</th>
                <th>Precio Programa</th>
                <th>No Comisionable</th>
                <th>Comisionable</th>
                <th>{{vobjag.asesor_agencia.agencia_ase.comision}}% Comisión  </th>
                
                
              </tr>

              <tr>
                <td>
                  {{vobjag.asesor_agencia.agencia_ase.nombre}}
                  
                </td>
                <td>
                  {{vobjag.asesor_agencia.nombre}} {{vobjag.asesor_agencia.ap_pat}} {{vobjag.asesor_agencia.ap_mat}}
                </td>
                <td>
                 {% if pr.tipo_cambio_id == 1 %}
                          $
                      {% endif %}
                      {% if pr.tipo_cambio_id == 2 %}
                          €
                      {% endif %} {{pr.precio_promo}}
                </td>
                 <td>
                  {% if pr.tipo_cambio_id == 1 %}
                          $
                      {% endif %}
                      {% if pr.tipo_cambio_id == 2 %}
                          €
                      {% endif %}

                  {{pr.precio.programa.n_comisionable}}</td>
                <td>
                  {% if pr.tipo_cambio_id == 1 %}
                          $
                      {% endif %}
                      {% if pr.tipo_cambio_id == 2 %}
                          €
                      {% endif %}

                      {{nc}}
                    
                </td>
               
                <td>
                  {% if pr.tipo_cambio_id == 1 %}
                          $
                      {% endif %}
                      {% if pr.tipo_cambio_id == 2 %}
                          €
                      {% endif %}
                  {{vcomisioncondescuento}}
                </td>
                              
                
              </tr>



     
              </tbody>
              </table>
              
              

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% include 'footer.html' %}
  <div class="scroll-top">
    <a href="#" class="tip-top" title="Go Top"><i class="icon-double-angle-up"></i></a>
  </div>
</div>

{% endblock %}