<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>

Consulta de Precios</title>

{% include "base_administrador.html" %}


{% block admin %}


<div class="layout"> <!-- inicio de toda la pagina desde del body-->
  <!-- Navbar
    ================================================== -->
 {% if user.is_staff or request.session.tipous == 1 %}
  {% include 'headeradmin.html' %}
  {% include 'menuizquierdoadmin.html' %}
{% endif %}

 {% if request.session.tipous == 2 %}
  {% include 'headergerente.html' %}
  {% include 'menuizquierdogerente.html' %}
{% endif %}

{% if request.session.tipous == 3 %}
  {% include 'headerasesor.html' %}
  {% include 'menuizquierdoasesor.html' %}
{% endif %}



  <div class="main-wrapper">
    <div class="container-fluid">

{% if messages %}
  {% for message in messages %}
      <div {% if message.tags %} class="alert alert-{{ message.tags }}"  {% endif %}   >
        <button type="button" class="close" data-dismiss="alert">&times;</button>

        <i class="icon-exclamation-sign"></i>
        {{ message }}   
      </div>
  {% endfor %}    
{% endif %}





<!-- Aqui van los roidfluid -->

 {% if user.is_staff or request.session.tipous == 1%}
<div class="row-fluid ">
        <div class="span12">
          <div class="primary-head">
          </div>
          <ul class="breadcrumb">
            <li>
              <a href="/administrador/" class="icon-home"></a>
              <span class="divider ">
                <i class="icon-angle-right"></i>
              </span>
            </li>
            <li>
              <a href="/vpg/">Consulta de paquetes</a>
              <span class="divider">
                <i class="icon-angle-right">
                </i>
              </span>
            </li>
            <li class="active">Consulta de Precio</li>
          </ul>
        </div>
      </div>
  
{% endif %}

{% if request.session.tipous == 2 %}
<div class="row-fluid ">
        <div class="span12">
          <div class="primary-head">
          </div>
          <ul class="breadcrumb">
            <li>
              <a href="/p-gerente/" class="icon-home"></a>
              <span class="divider ">
                <i class="icon-angle-right"></i>
              </span>
            </li>
            <li>
              <a href="/vpg/">Consulta de paquetes</a>
              <span class="divider">
                <i class="icon-angle-right">
                </i>
              </span>
            </li>
            <li class="active">Consulta de Precio</li>
          </ul>
        </div>
      </div> 
{% endif %}

{% if request.session.tipous == 3 %}
<div class="row-fluid ">
        <div class="span12">
          <div class="primary-head">
          </div>
          <ul class="breadcrumb">
            <li>
              <a href="/p-asesor/" class="icon-home"></a>
              <span class="divider ">
                <i class="icon-angle-right"></i>
              </span>
            </li>
            <li>
              <a href="/vpg/">Consulta de paquetes</a>
              <span class="divider">
                <i class="icon-angle-right">
                </i>
              </span>
            </li>
            <li class="active">Consulta de Precio</li>
          </ul>
        </div>
      </div> 
{% endif %}


      <div class="row-fluid ">
        <div class="span12">
          <div class="content-widgets gray">
        {% if user.is_staff or request.session.tipous == 1 or  request.session.tipous == 2 %}
            <div class="widget-head blue clearfix">
              <h3 class="pull-left">Menú de Navegación</h3>
            </div>
        {% endif %}
            <div class="widget-container">
      {% if user.is_staff or request.session.tipous == 1 or  request.session.tipous == 2 %}
  
            <table class="table  paper-table  responsive">
                <thead>
                <tr>
                <td>
                  <div class="control-group">
            <label class="control-label"> Seleccione el Año 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Seleccione el Paquete </label>
                  <div class="controls">
                      <select id="anio" class="span2" name="anio">
                          <option selected="selected" value=""> … </option>
                          {% for a in ye %}
                          <option value="{{a.year}}"> {{a.year}} </option>
                          {% endfor %}

                      </select>

                      <select id="paquete" class="span5" name="paquete">
                          <option selected="selected" value=""> … </option>
                      </select>



                    <div class="btn-group" id="url">
                        {% if user.is_staff or request.session.tipous == 1 or request.session.tipous == 2  %}
                        <a href="/vprecio/{{id_paquete}}">
                        {% endif %}
                            <button class="btn btn-round-min btn btn-info" data-original-title="Consultar Precios">
                                <span><i class="icon-search"></i></span>
                            </button>
                        </a>
                    </div>
                


                  </div>
                </div>

                </td>


                </tr> 
                </thead>
                <tbody>
            

                </tbody>


              </table>
      {% endif %}
      <div class="widget-head blue clearfix">
              <h3 class="pull-left">Precios Disponibles para "{{pa.programa}}" con salida "{{pa.salida}}" </h3>
      </div>
              <table class="table data-grid table-bordered paper-table tbl-serach responsive">
                <thead>
                {% if user.is_staff or request.session.tipous == 1  or request.session.tipous == 2%}
                  <a href="/ap/{{id_paquete}}">
                    <button class="btn btn-round-min btn-danger" title="Agregar Nuevo Precio">
                      <span>
                          <i class="icon-plus"></i>
                      </span>
                    </button>
                    </a>
            {% endif %}
                  <tr>
                    <th> Nombre del paquete</th>
                    <th> Salida </th>
                    <th> Precio </th>
                    <th> Clave del Precio </th>
                    <th> Apertura</th>
                    <th> Cierre</th>
                    <th> Agregar Cliente </th>
                    {% if request.session.tipous != 3 %}
                    <th> Acción </th>
                    {% endif %}
                    
                  </tr>
                </thead>
                <tbody>

                  {%  for p in pe  %}

            
                  <tr>
                    <td> 
                      {{p.precio}}
                    </td>
                    <td> 
                      {{p.precio.salida}}
                    </td>
                    <td> 
{%  if p.tipo_cambio_id == 1 %} &#36; {% endif %}{%  if p.tipo_cambio_id == 2 %} &#8364; {% endif %}
                      {{p.precio_promo}} 
                    </td>
                    <td class="center"> {{p.claveprecio}} </td>
                    

                    <td class="center"> {{p.fecha_inicial}} </td>
                    <td class="center"> {{p.fecha_final}} </td>

                    <td class="center">
{% if user.is_staff or request.session.tipous == 1 or request.session.tipous == 2%}
  
    {% if p.status_fecha == True %}
                          <a href="#" class="alert-box-precio-experado" >
                              <img title="Agregar niño"  alt="chico" src="{{STATIC_URL}}images/iconos/chico.png" >
                          </a>
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          <a href="#" class="alert-box-precio-experado" >
                              <img title="Agregar niño"  alt="chico" src="{{STATIC_URL}}images/iconos/chica.png" >
                          </a>
    {% else %}
    <a href="/agregar_cliente/{{id_paquete}}/{{p.id}}/1">
                              <img title="Agregar niño"  alt="chico" src="{{STATIC_URL}}images/iconos/chico.png" >
                          </a>
    &nbsp;&nbsp;&nbsp;&nbsp;
                          <a href="/agregar_cliente/{{id_paquete}}/{{p.id}}/2">
                              <img title="Agregar niña" alt="chica" src="{{STATIC_URL}}images/iconos/chica.png">
                          </a>
    {% endif %}
{% endif %}


{% if request.session.tipous == 3 %}
  {% if p.status_fecha == True %}
                          <a href="#" class="alert-box-precio-experado" >
                              <img title="Agregar niño"  alt="chico" src="{{STATIC_URL}}images/iconos/chico.png" >
                          </a>
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          <a href="#" class="alert-box-precio-experado" >
                              <img title="Agregar niño"  alt="chico" src="{{STATIC_URL}}images/iconos/chica.png" >
                          </a>
    {% else %}
      {% if p.status == False %}
  <a href="/agregar-cliente-a/{{id_paquete}}/{{p.id}}/1">
                            <img title="Agregar niño"  alt="chico" src="{{STATIC_URL}}images/iconos/chico.png" >
                        </a>
  &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/agregar-cliente-a/{{id_paquete}}/{{p.id}}/2">
                            <img title="Agregar niña" alt="chica" src="{{STATIC_URL}}images/iconos/chica.png">

                        </a>
      {% endif %}
    {% endif %}     
{% endif %}                      
                      

                    </td>
{% if request.session.tipous != 3 %}
{% if user.is_staff or request.session.tipous == 1 or request.session.tipous == 2 %}                    
                    <td class="center ">
                    <div class="btn-toolbar row-action">
                        <div class="btn-group">
                            <a href="/editar-precioadmin/{{p.id}}">
                                <button class="btn btn-info" data-original-title="Editar">
                                    <i class="icon-edit"></i>
                                </button>
                            </a>
{% if p.status = False %}                            
                            <a href="/ad-pre-suspender/{{p.id}}">
                              <button class="btn btn-warning" data-original-title="Suspender">
                                  <i class=" icon-remove-sign"></i>
                              </button>        
                            </a>
{% endif %}                             
{% if p.status%}                            
                            <a href="/ad-preactivar/{{p.id}}">
                              <button class="btn btn-success" data-original-title="Aprovar">
                                  <i class=" icon-ok"></i>
                              </button>
                            </a>
{% endif %}                            
                            <a href="/ad-pre-eliminar/{{p.id}}">
                            <button class="btn btn-danger" data-original-title="Eliminar" onclick="return confirm('Realmente desea eliminar este precio? \n Nota: \n Si este precio tiene cliente, serán eliminados.')">
                                  <i class=" icon-remove-sign"></i>
                              </button>        
                            </a>

                        </div>
                    </div>

                    </td>

{% endif %}                  
{% endif %}

                  </tr>
                
                  {%  endfor %}

                </tbody>
                <tfoot>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% include 'footer.html' %}
  <div class="scroll-top">
    <a href="#" class="tip-top" title="Go Top"><i class="icon-double-angle-up"></i></a>
  </div>
</div>

{% endblock %}