<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>

Consulta de Hotel
</title>

{% include "base_administrador.html" %}


{% block admin %}


<div class="layout"> <!-- inicio de toda la pagina desde del body-->
  <!-- Navbar
    ================================================== -->
{% if user.is_staff or request.session.tipous == 1 %}
  {% include 'headeradmin.html' %}
  {% include 'menuizquierdoadmin.html' %}
{% endif %}

 {% if request.session.tipous == 2 %}
  {% include 'headergerente.html' %}
  {% include 'menuizquierdogerente.html' %}
{% endif %}

{% if request.session.tipous == 3 %}
  {% include 'headerasesor.html' %}
  {% include 'menuizquierdoasesor.html' %}
{% endif %}

{% if request.session.tipous == 7 %}
  {% include 'headermarketing.html' %}
  {% include 'menuizquierdomarketing.html' %}
{% endif %}

 {% if request.session.tipous == 8 %}
  {% include 'headeragencias.html' %}
  {% include 'menuizquierdoagencias.html' %}
{% endif %}

{% if request.session.tipous == 10 %}
  {% include 'headerrecepcion.html' %}
  {% include 'menuizquierdorecepcion.html' %}
{% endif %}


  <div class="main-wrapper">
    <div class="container-fluid">

{% if messages %}
  {% for message in messages %}
      <div {% if message.tags %} class="alert alert-{{ message.tags }}"  {% endif %}   >
        <button type="button" class="close" data-dismiss="alert">&times;</button>

        <i class="icon-exclamation-sign"></i>
        {{ message }}   
      </div>
  {% endfor %}    
{% endif %}





<!-- Aqui van los roidfluid -->

{% if user.is_staff or request.session.tipous == 1%}
  <div class="row-fluid ">
        <div class="span12">
          <div class="primary-head">
            <h3 class="page-header"> 
              Hotel
            </h3>  
          </div>
          <ul class="breadcrumb">
            <li>
              <a href="/administrador/" class="icon-home"></a>
              <span class="divider ">
                <i class="icon-angle-right"></i>
              </span>
            </li>
            <li>
              <a href="/consulta-hotel/">Consulta de Hotel</a>
              <span class="divider">
                <i class="icon-angle-right">
                </i>
              </span>
            </li>
            <li class="active">Consulta de Hotel</li>
          </ul>
        </div>
      </div>
{% endif %}
{% if request.session.tipous == 2 %}
<div class="row-fluid ">
        <div class="span12">
          <div class="primary-head">
            <h3 class="page-header"> 
              Hotel
            </h3> 
          </div>
          <ul class="breadcrumb">
            <li>
              <a href="/p-gerente/" class="icon-home"></a>
              <span class="divider ">
                <i class="icon-angle-right"></i>
              </span>
            </li>
            <li>
              <a href="/consulta-hotel/">Consulta de Hotel</a>
              <span class="divider">
                <i class="icon-angle-right">
                </i>
              </span>
            </li>
            <li class="active">Consulta de Hotel</li>
          </ul>
        </div>
      </div>  
{% endif %}

{% if request.session.tipous == 3 %}
<div class="row-fluid ">
        <div class="span12">
          <div class="primary-head">
            <h3 class="page-header"> 
              Hotel
            </h3> 
          </div>
          <ul class="breadcrumb">
            <li>
              <a href="/p-asesor/" class="icon-home"></a>
              <span class="divider ">
                <i class="icon-angle-right"></i>
              </span>
            </li>
            <li>
              <a href="/consulta-hotel/">Consulta de Hotel</a>
              <span class="divider">
                <i class="icon-angle-right">
                </i>
              </span>
            </li>
            <li class="active">Consulta de Hotel</li>
          </ul>
        </div>
      </div>  
{% endif %}

{% if request.session.tipous == 7 %}
<div class="row-fluid ">
        <div class="span12">
          <div class="primary-head">
            <h3 class="page-header"> 
              Hotel
            </h3> 
          </div>
          <ul class="breadcrumb">
            <li>
              <a href="/p-marketing/" class="icon-home"></a>
              <span class="divider ">
                <i class="icon-angle-right"></i>
              </span>
            </li>
            <li>
              <a href="/consulta-hotel/">Consulta de Hotel</a>
              <span class="divider">
                <i class="icon-angle-right">
                </i>
              </span>
            </li>
            <li class="active">Consulta de Hotel</li>
          </ul>
        </div>
      </div>  
{% endif %}

{% if request.session.tipous == 8 %}
<div class="row-fluid ">
        <div class="span12">
          <div class="primary-head">
            <h3 class="page-header"> 
              Hotel
            </h3> 
          </div>
          <ul class="breadcrumb">
            <li>
              <a href="/p-agencias/" class="icon-home"></a>
              <span class="divider ">
                <i class="icon-angle-right"></i>
              </span>
            </li>
            <li>
              <a href="/consulta-hotel/">Consulta de Hotel</a>
              <span class="divider">
                <i class="icon-angle-right">
                </i>
              </span>
            </li>
            <li class="active">Consulta de Hotel</li>
          </ul>
        </div>
      </div>  
{% endif %}


{% if request.session.tipous == 10 %}
<div class="row-fluid ">
        <div class="span12">
          <div class="primary-head">
            <h3 class="page-header"> 
              Hotel
            </h3> 
          </div>
          <ul class="breadcrumb">
            <li>
              <a href="/p-recepcion/" class="icon-home"></a>
              <span class="divider ">
                <i class="icon-angle-right"></i>
              </span>
            </li>
            <li class="active">Consulta de Hotel</li>
          </ul>
        </div>
      </div>  
{% endif %}


      <div class="row-fluid ">
        <div class="span12">
          <div class="content-widgets gray">
            <div class="widget-head blue clearfix">
              <h3 class="pull-left">Búsqueda de Hotel</h3>
            </div>
            <div class="widget-container">



              <table class="table data-grid table-bordered paper-table tbl-serach responsive">
                <thead>
                  <tr>
                    <th> Nombre</th>
                    <th> Dirección </th>
                    <th> Ciudad - Estado </th>
                    <th> Código postal </th>
                    <th> Teléfono </th>
                    <th> Programa </th>
                    <th> Del </th>
                    <th> Al </th>
                  </tr>
                </thead>
                <tbody>

                  {%  for ho in ObjQueryByear  %}
                  <tr>
                    <td>{{ho.hotel.descripcion}}</td>
                    <td>{{ho.hotel.direccion}}</td>
                    <td>{{ho.hotel.ciudad_estado}}</td>
                    <td>{{ho.hotel.codigo_postal}}</td>
                    <td>{{ho.hotel.telefono}} </td>
                    <td>{{ho.programa.clave}} </td>
                    <td>{{ho.fecha_ini}} </td>
                    <td>{{ho.fecha_fin}} </td>
                  </tr>
                  {%  endfor %}

                </tbody>
                <tfoot>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% include 'footer.html' %}
  <div class="scroll-top">
    <a href="#" class="tip-top" title="Go Top"><i class="icon-double-angle-up"></i></a>
  </div>
</div>

{% endblock %}