<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>

Disponibilidad de Vuelo
</title>

{% include "base_administrador.html" %}


{% block admin %}


<div class="layout"> <!-- inicio de toda la pagina desde del body-->
  <!-- Navbar
    ================================================== -->
{% if user.is_staff or request.session.tipous == 1 %}
  {% include 'headeradmin.html' %}
  {% include 'menuizquierdoadmin.html' %}
{% endif %}

 {% if request.session.tipous == 2 %}
  {% include 'headergerente.html' %}
  {% include 'menuizquierdogerente.html' %}
{% endif %}


{% if request.session.tipous == 3 %}
  {% include 'headerasesor.html' %}
  {% include 'menuizquierdoasesor.html' %}
{% endif %}

 {% if request.session.tipous == 8 %}
  {% include 'headeragencias.html' %}
  {% include 'menuizquierdoagencias.html' %}
{% endif %}

  <div class="main-wrapper">
    <div class="container-fluid">

{% if messages %}
  {% for message in messages %}
      <div {% if message.tags %} class="alert alert-{{ message.tags }}"  {% endif %}   >
        <button type="button" class="close" data-dismiss="alert">&times;</button>

        <i class="icon-exclamation-sign"></i>
        {{ message }}   
      </div>
  {% endfor %}    
{% endif %}





<!-- Aqui van los roidfluid -->
{% if user.is_staff or request.session.tipous == 1%}
  <div class="row-fluid ">
        <div class="span12">
          <div class="primary-head">
            <h3 class="page-header"> 
              Disponibilidad de Vuelo
            </h3>  
          </div>
          <ul class="breadcrumb">
            <li>
              <a href="/administrador/" class="icon-home"></a>
              <span class="divider ">
                <i class="icon-angle-right"></i>
              </span>
            </li>
            <li class="active">Consulta de Disponibilidad de Vuelo</li>
          </ul>
        </div>
      </div>
{% endif %}
{% if request.session.tipous == 2 %}
<div class="row-fluid ">
        <div class="span12">
          <div class="primary-head">
            <h3 class="page-header"> 
              Disponibilidad de Vuelo
            </h3> 
          </div>
          <ul class="breadcrumb">
            <li>
              <a href="/p-gerente/" class="icon-home"></a>
              <span class="divider ">
                <i class="icon-angle-right"></i>
              </span>
            </li>
            <li class="active">Consulta de Disponibilidad de Vuelo</li>
          </ul>
        </div>
      </div>  
{% endif %}


{% if request.session.tipous == 3 %}
<div class="row-fluid ">
        <div class="span12">
          <div class="primary-head">
            <h3 class="page-header"> 
              Disponibilidad de Vuelo
            </h3> 
          </div>
          <ul class="breadcrumb">
            <li>
              <a href="/p-asesor/" class="icon-home"></a>
              <span class="divider ">
                <i class="icon-angle-right"></i>
              </span>
            </li>
            <li class="active">Consulta de Disponibilidad de Vuelo</li>
          </ul>
        </div>
      </div>  
{% endif %}


{% if request.session.tipous == 8 %}
<div class="row-fluid ">
        <div class="span12">
          <div class="primary-head">
            <h3 class="page-header"> 
              Disponibilidad de Vuelo
            </h3> 
          </div>
          <ul class="breadcrumb">
            <li>
              <a href="/p-agencias/" class="icon-home"></a>
              <span class="divider ">
                <i class="icon-angle-right"></i>
              </span>
            </li>
            <li class="active">Consulta de Disponibilidad de Vuelo</li>
          </ul>
        </div>
      </div>  
{% endif %}


      <div class="row-fluid ">
        <div class="span12">
          <div class="content-widgets gray">
            <div class="widget-head blue clearfix">
              <h3 class="pull-left"> <i class="icon-plane"></i> Búsqueda de Disponibilidad de Vuelo  <i class="icon-plane"></i></h3>
            </div>
            <div class="widget-container">
                <div class="btn-group" id="url2">
                  {% if user.is_staff or request.session.tipous == 1  %}
                   <form name="formyear" class="form-horizontal left-align" id="formyear" method="POST" action="/adconsulta_dispvuelo/">
                    {% endif %}

                    {% if request.session.tipous == 2  %}
                   <form name="formyear" class="form-horizontal left-align" id="formyear" method="POST" action="/geconsulta_dispvuelo/">
                    {% endif %}

                    {% if request.session.tipous == 3 or request.session.tipous == 8  %}
                   <form name="formyear" class="form-horizontal left-align" id="formyear" method="POST" action="/ver-dispvuelo-asesor/">
                    {% endif %}

                        {% csrf_token %}

                        <select name="year" onchange="this.form.submit(); return false;">
                          {% for y in anioarray %}
                          <option  {% if  vyearvalidar == y.year%} selected {% endif %} value="{{y.year}}">{{y.year}}</option>
                          {% endfor %}
                        </select>

                    </form>    
                 </div>       
                  <div class="btn-group" id="url">
                        {% if user.is_staff or request.session.tipous == 1  %}
                        <a href="/adformulario_dispvuelo/" title="Nuevo">
                        {% endif %}
                        {% if request.session.tipous == 2  %}
                        <a href="/geformulario_dispvuelo/" title="Nuevo">
                        {% endif %}
                        {% if user.perfil.agencia.id == 5 %}
                        <a href="/geformulario_dispvuelo/" title="Nuevo">
                        {% endif %}
                            <button class="btn btn-round-min btn btn-info" data-original-title="Consultar Precios">
                                <span><i class="icon-plus"></i></span>
                            </button>
                        </a>
                  </div>
              <table id="uno" class="table table-bordered table-striped">
                <thead>
                  <tr class="thuno">
                    <th class="center"> <b> PROG </b></th>
                    <th class="center colorteensf"><b> TEENS F</b> </th>
                    <th class="center colorteensm"><b>TEENS M</b></th>
                    <th class="center colorotro"><b> MEX TEENS</b></th>

                    <th class="center colorteensf"><b> CHAPS F </b></th>
                    <th class="center colorteensm"><b> CHAPS M </b></th>
                    <th class="center colorotro"><b> MEX CHAPS </b></th>

                    <th class="center "><b> TOTAL MEX </b></th>
                    <th class="center colordisp" > <b>"DISP MEX" </b></th>


                    <th class="center colorteensf"><b> TEENS F </b></th>
                    <th class="center colorteensm"> <b>TEENS M </b></th>
                    <th class="center colorotro"><b> VSA TEENS </b></th>

                    <th class="center colorteensf"><b> CHAPS F </b></th>
                    <th class="center colorteensm"> <b>CHAPS M </b></th>
                    <th class="center colorotro"><b> VSA CHAPS </b></th>
                    <th class="center "> <b>TOTAL VSA </b></th>
                    <th class="center colordisp"><b> "DISP VSA" </b></th>


                    <th class="center"><b> TOTAL PAX </b></th>
                    {% if request.session.tipous == 1 or  request.session.tipous == 2 or user.perfil.agencia.id == 5 %}
                    <th class="center"> ACCIÓN </th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>

                  {%  for v in dvuelo  %}
                  <tr class="tduno">
                    <td class="center"> <b> {{v.programa}} </b></td>
                    <td class="center ">{% if v.totalmexninas >= 0 %} {{v.totalmexninas}} {% endif %} </td>
                    <td class="center ">{% if v.totalmexninos >= 0 %} {{v.totalmexninos}} {% endif %}</td>
                    <td class="center ">{{v.totalmex}}</td>

                    <td class="center ">{% if v.chaperonmexf >= 0 %} {{v.chaperonmexf}} {% endif %}</td>
                    <td class="center ">{% if v.chaperonmexm >= 0 %} {{v.chaperonmexm}} {% endif %}</td>
                    <td class="center "> {{v.chaperonmex}} </td>

                    <td class="center "> <b>{{v.mex_total}} </b></td>
                    <td class="center "> <b>{{v.vdis_mex}} </b></td>




                    <td class="center "> {% if v.totalvsaninas >= 0 %} {{v.totalvsaninas}} {% endif %} </td>
                    <td class="center "> {% if v.totalvsaninos >= 0 %} {{v.totalvsaninos}} {% endif %} </td>
                    <td class="center  "> {{v.totalvsa}} </td>

                    <td class="center ">{% if v.chaperonvsaf >= 0 %}  {{v.chaperonvsaf}} {% endif %}</td>
                    <td class="center ">{% if v.chaperonvsam >= 0 %} {{v.chaperonvsam}} {% endif %}</td>
                    <td class="center " >{{v.chaperonvsa}} </td>

                    <td class="center "><b>{{v.vsa_total}}</b></td>
                    <td class="center "><b>{{v.vdis_vsa}}</b></td>
                    
                    <td class="center"><b> {{v.year}} </b></td>
                    {% if request.session.tipous == 1 or  request.session.tipous == 2 or user.perfil.agencia.id == 5 %}
                    <td class="center"><div class="btn-toolbar row-action">
                        <div class="btn-group">
{% if user.is_staff or request.session.tipous == 1%}
 <a href="/adisp_vueloedit/{{v.id}}">
                          <button class="btn btn-info" title="Editar">
                            <i class="icon-edit"></i>
                          </button>
                          </a>
<a href="/adisp_vueloeli/{{v.id}}" onclick="return confirm('Realmente desea eliminar este registro?')"> 
                          <button class="btn btn-danger" data-original-title="Eliminar">
                          <i class=" icon-remove-sign"></i>
                          </button>

                          </a>                            
{% endif %}
{% if request.session.tipous == 2 or user.perfil.agencia.id == 5 %}
 <a href="/geisp_vueloedit/{{v.id}}">
                          <button class="btn btn-info" title="Editar">
                            <i class="icon-edit"></i>
                          </button>
                          </a>
<a href="/geisp_vueloeli/{{v.id}}" onclick="return confirm('Realmente desea eliminar este registro?')">
                          <button class="btn btn-danger" data-original-title="Eliminar">
                          <i class=" icon-remove-sign"></i>
                          </button>

                          </a>                            

{% endif %}
                        </div>
                      </div></td>

                      {% endif %}
                  </tr>
                  {%  endfor %}
                  {% for objarraytotal in objarraytotal %}
                  <tr class="tduno">
                    <td class="center"><b>Total</b></td>
                    <td class="center "> <b>{{objarraytotal.teensmexf}}</b></td>
                    <td class="center "><b>{{objarraytotal.teensmexm}}</b></td>
                    <td class="center "><b>{{objarraytotal.mexteens}}</b></td>

                    <td class="center "><b>{{objarraytotal.chapmexf}}</b></td>
                    <td class="center "><b>{{objarraytotal.chapmexm}}</b></td>
                    <td class="center "> {{objarraytotal.mexchap}} </b></td>

                    <td class="center "><b>{{objarraytotal.totalmex}}</b></td>
                    <td class="center "><b>{{objarraytotal.dispmex}}</b></td>




                    <td class="center "> <b>{{objarraytotal.teensvsaf}} </b></td>
                    <td class="center "> <b>{{objarraytotal.teensvsam}}</b> </td>
                    <td class="center  "><b> {{objarraytotal.vsateens}} </b></td>

                    <td class="center "><b>{{objarraytotal.chapvsaf}}</b></td>
                    <td class="center "><b>{{objarraytotal.chapvsam}}</b></td>
                    <td class="center "> <b>{{objarraytotal.vsachap}} </b></td>

                    <td class="center "><b>{{objarraytotal.totalvsa}}</b></td>
                    <td class="center "><b>{{objarraytotal.dispvsa}}</b></td>
                    <td class="center"><b> {{objarraytotal.totalpax}} </b></td>
                    <td class="center"></td>
                  </tr>
                  {%  endfor %}

                </tbody>
                <tfoot>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% include 'footer.html' %}
  <div class="scroll-top">
    <a href="#" class="tip-top" title="Go Top"><i class="icon-double-angle-up"></i></a>
  </div>
</div>

{% endblock %}