<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>

Sucursal
</title>

{% include "base_administrador.html" %}


{% block admin %}


<div class="layout"> <!-- inicio de toda la pagina desde del body-->
  <!-- Navbar
    ================================================== -->

{% if request.session.tipous == 3 %}
  {% include 'headerasesor.html' %}
  {% include 'menuizquierdoasesor.html' %}
{% endif %}





  <div class="main-wrapper">
    <div class="container-fluid">

{% if messages %}
  {% for message in messages %}
      <div {% if message.tags %} class="alert alert-{{ message.tags }}"  {% endif %}   >
        <button type="button" class="close" data-dismiss="alert">&times;</button>

        <i class="icon-exclamation-sign"></i>
        {{ message }}   
      </div>
  {% endfor %}    
{% endif %}


{% if user.is_staff or request.session.tipous == 1%}
 <div class="row-fluid ">
        <div class="span12">
          <div class="primary-head">
            <h3 class="page-header"> 
              Sucursal
            </h3> 
          </div>
          <ul class="breadcrumb">
            <li>
              <a href="/p-gerente/" class="icon-home"></a>
              <span class="divider ">
                <i class="icon-angle-right"></i>
              </span>
            </li>
            <li class="active">Modulo Sucursal</li>
          </ul>
        </div>
      </div> 
{% endif %}
{% if request.session.tipous == 2 %}
<div class="row-fluid ">
        <div class="span12">
          <div class="primary-head">
            <h3 class="page-header"> 
              Sucursal
            </h3> 
          </div>
          <ul class="breadcrumb">
            <li>
              <a href="/p-gerente/" class="icon-home"></a>
              <span class="divider ">
                <i class="icon-angle-right"></i>
              </span>
            </li>
            <li class="active">Modulo Sucursal</li>
          </ul>
        </div>
      </div>  
{% endif %}

{% if request.session.tipous == 3 %}
<div class="row-fluid ">
        <div class="span12">
          <div class="primary-head">
            <h3 class="page-header"> 
              Sucursal
            </h3> 
          </div>
          <ul class="breadcrumb">
            <li>
              <a href="/p-asesor/" class="icon-home"></a>
              <span class="divider ">
                <i class="icon-angle-right"></i>
              </span>
            </li>
            <li class="active">Modulo Sucursal</li>
          </ul>
        </div>
      </div>  
{% endif %}





<!-- Aqui van los roidfluid -->
      <div class="row-fluid ">
        <div class="span12">
          <div class="content-widgets gray">
            <div class="widget-head blue clearfix">
              <h3 class="pull-left">Búsqueda de Sucursal</h3>
            </div>
            <div class="widget-container">
              <table class="table data-grid table-bordered paper-table tbl-serach responsive">
                <thead>
                  <tr>
                    <th> Nombre de la Agencia</th>
       
                    <th> Clave </th>       
                    <th> Direccion </th>
                    <th> Teléfono </th>
                    <th> Correo </th>
                    <th> Acción </th>
                  </tr>
                </thead>
                <tbody>

                  {%  for s in sucursal  %}
                  <tr>
                    <td><a href="#">{{s.agencia_ase}}</a></td>
                    <td>{{s.clave}}</td>
                    <td>{{s.direccion}} -- {{s.localidad}} -- {{s.estado}} -- {{s.pais}}</td>
                    <td> {{s.telefono}} </td>
                     <td> {{s.email}} </td>
                    <td class="center">
                      

                
                        <div class="btn-toolbar row-action">
                          <div class="btn-group">

                            <a href="/editara_sucursal_as/{{s.id}}">
                              <button class="btn btn-info" title="Editar Agencia">
                                <i class="icon-edit"></i>
                              </button>
                            </a> 

                           


                          </div>
                        </div>

                    </td>
                  </tr>

                  


                  {%  endfor %}

                </tbody>
                <tfoot>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% include 'footer.html' %}
  <div class="scroll-top">
    <a href="#" class="tip-top" title="Go Top"><i class="icon-double-angle-up"></i></a>
  </div>
</div>

{% endblock %}