<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>
  {% if edit %} 
      Edición de Programas                 
  {% else %}
      Registro de Programa 
  {% endif %}
</title>

{% include "base_administrador.html" %} 

{% block admin %}


<div class="layout"> <!-- inicio de toda la pagina desde del body-->
  <!-- Navbar
    ================================================== -->
{% if user.is_staff or request.session.tipous == 1 %}
  {% include 'headeradmin.html' %}
  {% include 'menuizquierdoadmin.html' %}
{% endif %}

 {% if request.session.tipous == 2 %}
  {% include 'headergerente.html' %}
  {% include 'menuizquierdogerente.html' %}
{% endif %}


  <div class="main-wrapper">
    <div class="container-fluid">

{% if messages %}
  {% for message in messages %}
      <div {% if message.tags %} class="alert alert-{{ message.tags }}"  {% endif %}   >
        <button type="button" class="close" data-dismiss="alert">&times;</button>

        <i class="icon-exclamation-sign"></i><strong>Ok!</strong>
        {{ message }}   
      </div>
  {% endfor %}    
{% endif %}





<!-- Aqui van los roidfluid -->
{% if user.is_staff or request.session.tipous == 1%}
  <div class="row-fluid ">
        <div class="span12">
          <div class="primary-head">
            <h3 class="page-header"> 
              Programa
            </h3>  
          </div>
          <ul class="breadcrumb">
            <li>
              <a href="/administrador/" class="icon-home"></a>
              <span class="divider ">
                <i class="icon-angle-right"></i>
              </span>
            </li>
            <li class="active">Registro de programa</li>
          </ul>
        </div>
      </div>
{% endif %}
{% if request.session.tipous == 2 %}
<div class="row-fluid ">
        <div class="span12">
          <div class="primary-head">
            <h3 class="page-header"> 
              Programa
            </h3> 
          </div>
          <ul class="breadcrumb">
            <li>
              <a href="/p-gerente/" class="icon-home"></a>
              <span class="divider ">
                <i class="icon-angle-right"></i>
              </span>
            </li>
            <li class="active">Registro de programa</li>
          </ul>
        </div>
      </div>  
{% endif %}

<div class="row-fluid">
        <div class="span12">
          <div class="content-widgets gray">
            <div class="widget-head blue">
              {% if edit %} 
               <h3><i class="icon-plane"></i> Edición de Programa <i class="icon-plane"></i>  </h3>            
                        {% else %}
               <h3><i class="icon-plane"></i> Registro de Programa <i class="icon-plane"></i> </h3>    
              {% endif %}
            </div>
            <div class="widget-container">
              <div class="form-container grid-form form-background">


                <form enctype="multipart/form-data" name="personal" class="form-horizontal left-align" id="signupForm" method="POST" action="">
                  {% csrf_token %}
                   
                  <div class="control-group">
                    <label class="control-label">Nombre</label>
                    <div class="controls">
                      {{po.nombre}}
                    </div>
                  </div>
                  
                   <div class="control-group">
                    <label class="control-label">Clave</label>
                    <div class="controls">
                      {{po.clave}}
                    </div>
                  </div>


                  <div class="control-group">
                    <label class="control-label">¿Este programa va a hacer compartido con otros?</label>
                    <div class="controls">
                      {{po.statusprgshare}}
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">Imagen</label>
                    <div class="controls">
                      {{po.image}}
                    </div>
                  </div>

                  <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% include 'footer.html' %}
  <div class="scroll-top">
    <a href="#" class="tip-top" title="Go Top"><i class="icon-double-angle-up"></i></a>
  </div>
</div>

{% endblock %}