<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>

  {% if edit %} 
      Edición de Permisos                 
  {% else %}
      Registro de Permisos  
  {% endif %}
</title>

{% include "base_administrador.html" %}


{% block admin %}


<div class="layout"> <!-- inicio de toda la pagina desde del body-->
  <!-- Navbar
    ================================================== -->
{% if user.is_staff or request.session.tipous == 1 %}
  {% include 'headeradmin.html' %}
  {% include 'menuizquierdoadmin.html' %}
{% endif %}

 {% if request.session.tipous == 2 %}
  {% include 'headergerente.html' %}
  {% include 'menuizquierdogerente.html' %}
{% endif %}



  <div class="main-wrapper">
    <div class="container-fluid">

{% if messages %}
  {% for message in messages %}
      <div {% if message.tags %} class="alert alert-{{ message.tags }}"  {% endif %}   >
        <button type="button" class="close" data-dismiss="alert">&times;</button>

        <i class="icon-exclamation-sign"></i>
        {{ message }}   
      </div>
  {% endfor %}    
{% endif %}





<!-- Aqui van los roidfluid -->

{% if user.is_staff or request.session.tipous == 1%}
  <div class="row-fluid ">
        <div class="span12">
          <div class="primary-head">
            <h3 class="page-header"> 
              Permisos
            </h3>  
          </div>
          <ul class="breadcrumb">
            <li>
              <a href="/administrador/" class="icon-home"></a>
              <span class="divider ">
                <i class="icon-angle-right"></i>
              </span>
            </li>
            <li class="active">Registro de Permisos</li>
          </ul>
        </div>
      </div>
{% endif %}
{% if request.session.tipous == 2 %}
<div class="row-fluid ">
        <div class="span12">
          <div class="primary-head">
            <h3 class="page-header"> 
              Permisos
            </h3> 
          </div>
          <ul class="breadcrumb">
            <li>
              <a href="/p-gerente/" class="icon-home"></a>
              <span class="divider ">
                <i class="icon-angle-right"></i>
              </span>
            </li>
            <li class="active">Registro de Permisos</li>
          </ul>
        </div>
      </div>  
{% endif %}


<div class="row-fluid">
        <div class="span12">
          <div class="content-widgets gray">
            <div class="widget-head blue">
                        {% if edit %} 
               <h3> Editar  Permisos</h3>             
                        {% else %}
              <h3> Registro de Permisos</h3>          
                        {% endif %}

            </div>
            <div class="widget-container">
              <div class="form-container grid-form form-background">


                <form name="personal" class="form-horizontal left-align" id="signupForm" method="POST" action="">
                  {% csrf_token %}
                   
                  <div class="control-group">
                    <label class="control-label">Asesor a Cargo</label>
                    <div class="controls">
                     <select id="asesoractual" class="span12 valid" name="asesoractual">
                        <option selected="selected" value=""> … </option>
                        {% for a in ase %}
                        <option value="{{a.id}}">{{a.user.first_name}} {{a.user.last_name}} </option>
                        {% endfor %}
                    </select>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">Asesor Saliente</label>
                    <div class="controls">
                      <select id="asesorvacaciones" class="span12 valid" name="asesorvacaciones">
                        <option selected="selected" value=""> … </option>
                        {% for a in ase %}
                        <option value="{{a.id}}">{{a.user.first_name}} {{a.user.last_name}} </option>
                        {% endfor %}
                    </select>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">Fecha Inicial</label>
                    <div class="controls">
                      <div id="datetimepicker4" class="input-append">
                        <input id="fecha_inicial" type="text" name="fecha_inicial" data-format="yyyy-MM-dd"></input>
                        <span class="add-on">
                            <i class="icon-calendar" data-date-icon="icon-calendar" data-time-icon="icon-time"></i>
                        </span>
                      </div>
                      
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">Fecha Final</label>
                    <div class="controls">
                      <div id="datetimepicker8" class="input-append">
                        <input id="fecha_final" type="text" name="fecha_final" data-format="yyyy-MM-dd"></input>
                        <span class="add-on">
                            <i class="icon-calendar" data-date-icon="icon-calendar" data-time-icon="icon-time"></i>
                        </span>
                      </div>
                      
                    </div>
                  </div>

                  <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% include 'footer.html' %}
  <div class="scroll-top">
    <a href="#" class="tip-top" title="Go Top"><i class="icon-double-angle-up"></i></a>
  </div>
</div>

{% endblock %}