<html>
  <head>
    <title>Django/jQuery AJAX Demo</title>
    <link href="{{STATIC_URL}}style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{STATIC_URL}}jquery.js"></script>
    

<script type="text/javascript">
$( document ).ready( function() {
  $( '#envio' ).blur( function() {
    q = $( '#envio' ).val();
    $( '#pagina' ).html( '&nbsp;' ).load( 'demo_user_search/?q=' + q );
  });
});

$( document ).ajaxStart( function() {
  $( '#spinner' ).show();
}).ajaxStop( function() {
  $( '#spinner' ).hide();
});
</script>

</head>


<body>
<div id="centered">

<div>
  <input id="envio" type="text" name="ok" />

  <br/>
  <span class="hint">Escriba una cadena de consulta para la búsqueda de usuarios</span>
  <div class="margin">
    <span id="spinner"><img src="{{STATIC_URL}}spinner.gif"/></span>
    <div id="pagina"></div>
  </div>
</div>
</div>
  </body>
</html>