 <div class="navbar navbar-inverse top-nav">
    <div class="navbar-inner">
      <div class="container">
        <span class="home-link">
          <a href="/p-caja/" class="icon-home"></a>
        </span>
        <a class="brand" href="/p-caja/">
        <img src="{{STATIC_URL}}images/logo-falgun.png" width="103" height="50" alt="Falgun">
       </a>
        <div class="nav-collapse">
          <ul class="nav">

          <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="icon-money"></i> Tipo de Cambio <b class="icon-angle-down"></b>
              </a>
            <div class="dropdown-menu">
              <ul>
          <li><a href="/consultar-tipo-cambio-c/"><i class="icon-search"></i> Consultar </a></li>
              </ul>
            </div>
            </li>


            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="icon-file"></i> Reportes <b class="icon-angle-down"></b>
              </a>
              <div class="dropdown-menu">
                <ul>
                  <li><a href="/reporte-resguardo-general/"><i class="icon-download"></i> Resguardo </a></li>
                </ul>
              </div>
            </li>






          </ul>
        </div>
        
      </div>
    </div>
  </div>