 <div class="navbar navbar-inverse top-nav">
    <div class="navbar-inner">
      <div class="container">
        <span class="home-link">
          <a href="/vws-chaperon/" class="icon-home"></a>
        </span>
        <a class="brand" href="/p-gerente/">
        <img src="{{STATIC_URL}}images/logo-falgun.png" width="103" height="50" alt="Falgun">
       </a>
        <div class="nav-collapse">
          <ul class="nav">




          </ul>
        </div>
        
      </div>
    </div>
  </div>