<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>
    Pagos
</title>

{% include "base_administrador.html" %}
{% block admin %}


<div class="layout"> <!-- inicio de toda la pagina desde del body-->
  <!-- Navbar
    ================================================== -->
 {% if user.is_staff or request.session.tipous == 1 %}
  {% include 'headeradmin.html' %}
  {% include 'menuizquierdoadmin.html' %}
{% endif %}

 {% if request.session.tipous == 2 %}
  {% include 'headergerente.html' %}
  {% include 'menuizquierdogerente.html' %}
{% endif %}

{% if request.session.tipous == 3 %}
  {% include 'headerasesor.html' %}
  {% include 'menuizquierdoasesor.html' %}
{% endif %}


  <div class="main-wrapper">
    <div class="container-fluid">

{% if messages %}
  {% for message in messages %}
      <div {% if message.tags %} class="alert alert-{{ message.tags }}"  {% endif %}   >
        <button type="button" class="close" data-dismiss="alert">&times;</button>

        <i class="icon-exclamation-sign"></i>
        {{ message }}   
      </div>
  {% endfor %}    
{% endif %}





<!-- Aqui van los roidfluid -->
{% include 'menu_navegacion_cliente.html' %}


      <div class="row-fluid">


        <div class="span5">
          <div class="content-widgets light-gray">
            <div class="widget-head blue clearfix">
              <h3>Estatus de Pagos</h3>
            </div>
            <div class="widget-container">

<table class="stat-table table table-stats table-striped table-sortable table-bordered">
              <tbody>

              <tr>
                <th>50 % -- {% if pr.tipo_cambio_id == 1 %}
                          $
                      {% endif %}
                      {% if pr.tipo_cambio_id == 2 %}
                          €
                      {% endif %} {{ result11 }}</th>
                <th>70 % --  {% if pr.tipo_cambio_id == 1 %}
                          $
                      {% endif %}
                      {% if pr.tipo_cambio_id == 2 %}
                          €
                      {% endif %} {{ result22 }}</th>
                <th>100 % -- {% if pr.tipo_cambio_id == 1 %}
                          $
                      {% endif %}
                      {% if pr.tipo_cambio_id == 2 %}
                          €
                      {% endif %}  {{ result33 }} </th>
                
              </tr>

            
              <tr>
                <td>
                  {% if sub >= result11  %}
                  <span class="label label-success">
                    Pagado
                  </span>
                  {% else  %}
                  <span class="label label-important">
                    Pendiente
                  </span>
                  {% endif %}
                </td>
                <td>
                 {% if sub >= result22 %}
                  <span class="label label-success">
                    Pagado
                  </span>
                  {% else  %}
                  <span class="label label-important">
                    Pendiente
                  </span>
                  {% endif %}
                </td>
                <td>
                  {% if sub >= result33  %}
                  <span class="label label-success">
                    Pagado
                  </span>
                  {% else  %}
                  <span class="label label-important">
                    Pendiente
                  </span>
                  {% endif %}
                </td>
              </tr>
            {% if pr.precio_promo >= sub %}    
              <tr>
                <td>
                Antes del 21 de Diciembre de {{f2}}
                <br>
                <br>
                Nota:
                <br>

                {{n1}} 
                </td>
                <td>
                 Antes del 17 de Marzo de {{f1}}
                 <br>
                <br>
                Nota:
                <br>
                {{n2}} 
                </td>
                <td>
                 Antes del {{fecha_salida.day}} de {{fecha_salida|date:"F"}} del {{f1}}
                 <br>
                <br>
                Nota:
                <br>
                {{n3}}
                </td>
              </tr>
            {%  endif %}    
              </tbody>
              </table>
            </div>
          </div>


          <div class="content-widgets light-gray">
            <div class="widget-head blue clearfix">
              <h3>Prorrogas Cargadas</h3>
            </div>
            <div class="widget-container">

<table class="stat-table table table-stats table-striped table-sortable table-bordered">
              <tbody>

              <tr>
                <th>Fecha Final</th>
                <th>Porcentaje</th>
                <th>Estatus</th>
                
              </tr>

              {% for p in pro %}  
                <tr>
                  <td>
                    {{p.fecha_final}}
                  </td>
                <td>
                   {% if p.porcentaje == 1 %}
                    50%
                  {% endif %}
                  {% if p.porcentaje == 2 %}
                    70%
                  {% endif %}
                  {% if p.porcentaje == 3 %}
                    100%
                  {% endif %}
                </td>
                 <td>
                  {%  if p.status  %}
                    Activo
                  {% else %}
                    Cancelado
                  {%  endif %}
                </td>
                </tr>
              {% endfor %}

            
              

              </tbody>
              </table>
            </div>
          </div>

{% if vasesor_agencia and sub >= pr.precio_promo %}
          <div class="content-widgets light-gray">
            <div class="widget-head blue clearfix">
              <h3>Reporte de Pagos de Incentivos</h3>
            </div>
            <div class="widget-container">
<form name="signupForm" class="form-horizontal left-align" id="signupForm" method="POST" action="/reporte_incentivo/" target="_blank" >
                   {% csrf_token %}

              <div class="control-group">
                  <label class="control-label">Ingrese la Nota</label>
                  <div class="controls">
                  <input id="desc" class="span10" type="text" name="desc" maxlength="77"></input>

                  <input id="id_cliente" type="hidden" name="id_cliente" value="{{clien.id}}"></input>
                  
                  <input id="vpi" type="hidden" name="vpi" value="1"></input>
                  </div>
                </div>
                  <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Generar</button>
                  </div>

</form>

            </div>
          </div>
{% endif %}
        </div>





          <div class="span7">
          <div class="content-widgets light-gray">
            <div class="widget-head blue clearfix">
              <h3>Pagos Realizados</h3>
            </div>
            <div class="widget-container">

                <table class="table paper-table">
                    <thead>
                    <tr>
                      <th class="invoice-id">
                        Id
                      </th>
                      <th class="invoice-date">
                         Fecha
                      </th>
                      <th class="invoice-type">
                        Folio
                      </th>
                      <th class="invoice-qty">
                         Tipo de Cambio
                      </th>
                      <th class="invoice-qty">
                         Cantidad
                      </th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for p in pc %}  
                    <tr>
                      <td class="invoice-type">
                        {{p.id}}
                      </td>
                      <td class="invoice-type">
                         <a href="#" title="Realizo el pago: 
                         {{p.usuario.first_name}} {{p.usuario.last_name}}
                         ">{{p.fecha_pago}}</a>
                      </td>
                      <td class="invoice-type">
                        {{p.folioc}}
                      </td>

                      <td class="invoice-qty">
                      {% if pr.tipo_cambio_id == 1 %}
                          $
                      {% endif %}
                      {% if pr.tipo_cambio_id == 2 %}
                          €
                      {% endif %}
                
                      {% if tcambio == 1 %}
                        {{p.cambiodhoy}}
                      {% endif %}

                      {% if tcambio == 2 %}
                        {{p.cambioehoy}}
                      {% endif %}


                      </td>

                      <td class="invoice-qty">
                      {% if pr.tipo_cambio_id == 1 %}
                          $
                      {% endif %}
                      {% if pr.tipo_cambio_id == 2 %}
                          €
                      {% endif %}
                
                      {% if tcambio == 1 %}
                        {{p.importee}}
                      {% endif %}

                      {% if tcambio == 2 %}
                        {{p.importe22}}
                      {% endif %}

                      </td>

                    </tr>
                    {% endfor %}
                    <tr class="invoice-cal">
                      <td colspan="4">
                        <span>Sub Total</span>
                        <span>Precio</span>
                        <span class="amount-due">Adeudo</span>
                      </td>
                      <td>
                        <span>
                      {% if pr.tipo_cambio_id == 1 %}
                          $
                      {% endif %}
                      {% if pr.tipo_cambio_id == 2 %}
                          €
                      {% endif %}
                          {{ sub }}
                        </span>
                        <span>
                      {% if pr.tipo_cambio_id == 1 %}
                          $
                      {% endif %}
                      {% if pr.tipo_cambio_id == 2 %}
                          €
                      {% endif %}
        {% if not vasesor_agencia %}              
                      {{ pr.precio_promo }}
        {% else %}
                      {{result3}}  
        {% endif %}              
                        </span>
                        <span class="amount-due">
                      {% if pr.tipo_cambio_id == 1 %}
                          $
                      {% endif %}
                      {% if pr.tipo_cambio_id == 2 %}
                          €
                      {% endif %}
                      {{resto}}
                        </span>
                      </td>
                    </tr>
                    </tbody>
                    </table>
            </div>

          </div>
        </div>

    
  

      </div>

       

    </div>
  </div>
{% include 'footer.html' %}
  <div class="scroll-top">
    <a href="#" class="tip-top" title="Go Top"><i class="icon-double-angle-up"></i></a>
  </div>
</div>

{% endblock %}